body {
  margin: 0;
  padding: 0;
}

.bg {
  background: url(public/bg.jpg) no-repeat 0 0;
  background-size: auto 100%;

  width: 100vw;
  height: 100vh;

  position: relative;
  overflow: hidden;

  .gradient {
    background: linear-gradient(90deg, #ffffff00 0%, #ffebddba 29%, #ffeee1 65%);

    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;
  }

  .content {
    display: flex;
    flex-direction: column;
    text-align: center;

    margin-left: auto;
    position: relative;
    z-index: 1;

    height: inherit;
    width: 50vw;

    box-sizing: border-box;
    padding-bottom: 120px;
  }

  h1 {
    font-size: 3vw;
    font-weight: normal;
  }

  .time {
    flex: 1 1 auto;
    font-size: 7vw;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .seconds {
    color: #8D111C;
  }

  .quote {
    margin: 0 100px;

    color: #8D111C;
    font-size: 1.5vw;
  }

  .link {
    font-size: 1.2vw;
    margin-top: 16px;
  }

}

